<% include ./partials/_headtag %>
<% include ./partials/_header %>

  <table>
    <th>Short URL</th>
    <th>Website</th>
    <th>Visits</th>
    <th>Unique Visits</th>
    <th></th>
    <th></th>

    <% for(key in urls) { %>
        <tr>
          <td>
            <em><b><%= key %> &rarr; </b></em>
          </td>
          <td>
            <em><%= urls[key].longURL %></em>
          </td>
          <td>
            <em><b><%= urls[key].visits %></em>
          </td>
          <td>
            <em><b><%= urls[key].unique %></em>
          </td>
          <td>
            <a class="button" href='/urls/<%= key %>'>Edit URL</a>
          </td>
          <td>
            <form method="POST" action="/urls/<%= key %>?_method=DELETE">
              <input class="button" type="submit" value="Delete">
            </form>
          </td>
        </tr>
    <% }; %>
  </table>

  <a href='/urls/new'>add new URL</a>




</body>
</html>