<% include ./partials/_headtag %>
<% include ./partials/_header %>


  <form action="/urls/<%= shortURL %>?_method=put" method="POST">
      <h5>Short URL:  <%= shortURL %> </h5>

      <label for="longURL">Edit the URL:</label>
      <input class="button-text" id="longURL" type="text" name="longURL" placeholder="http://" value="<%= longURL %>">
      <input class="button" type="submit" value="Edit">
    </form>

  <table>
    <% for(key in stats) { %>
        <tr>
          <td>
            <em><b><%= stats[key].timestamp %></em>
          </td>
          <td>
            <em><b><%= stats[key].longURL %></em>
          </td>
          <td>
            <em><b><%= stats[key].userId %></em>
          </td>
        </tr>
    <% }; %>
  </table>

</body>
</html>